<div class="panel panel-default">
    <div class="panel-heading">
        <span id="subtitle">{{title}}</span>
    </div>
    <div class="panel-body">
        {{#each list as |item|}}
            {{post-item item=item}}
        {{/each}}
    </div>
</div>