<div class="panel panel-default">
    <div class="panel-heading">Introduction</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <p class="lorem-ipsum-dislaimer">Here's some example text to bulk out the page a bit;</p>
                <p class="lorem-ipsum">{{model.loremIpsum}}</p>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>